<div class="container questions">
  <div class="row"><div class="col-md-12"><h1>Quiz</h1></div></div>
  <div class="row" *ngFor="let question of questions">
    <div class="col-md-12">
      <div [ngClass]="{correct: (question.value), submit: submitted, score:true}">
        <img src="Hooray.png" alt="Yayyyy" height="64px">
      </div>
      <div [ngClass]="{wrong: (!question.value), submit: submitted, score:true}">
        <img src="shruggy.jpg" alt="Ohhhh" height="64px">
      </div>
      <p>{{question.question}}</p>
      <div class="radio" *ngFor="let answer of question.answers">
        <label><input
          type="radio"
          value="{{answer._id}}"
          name="question {{question._id}}"
          (click)="onSelect(answer._id, question)">{{answer.answer}}</label>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer">
        <button class="btn btn-default" (click)="shuffle()" type="button">Shuffle</button>
        <button class="btn btn-default" (click)="submit()" type="button">Submit</button>
      </div>
        <div class="col-md-1 col-md-offset-8 footer">
          <p></p>
        </div>
    </div>
  </div>
</nav>
